# Dependency directories
node_modules/

# Angular compiler cache
.angular/cache/

# Compiled output
/dist/

# Environment files
*.env

# IDE specific files and directories
.idea/
.vscode/
*.suo
*.user
*.userprefs
*.sln.docstates

# Operating system specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
