<section>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="form-background">
    <h2>Mortgage Calculator</h2>
      <mat-form-field appearance="outline" fxFlex >
        <mat-label>Home price</mat-label>
        <input id="principalLoan" matInput type="text" class="left-align" placeholder="0">
        <span matTextPrefix="">$&nbsp;</span>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Interest rate</mat-label>
        <input id="yearlyInterestRate" matInput type="text" class="left-align" placeholder="0">
        <span matTextSuffix>%&nbsp;</span>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Loan term</mat-label>
        <mat-select id="numberOfYearsPayments">
          <mat-option disabled="disabled">Select a loan term</mat-option>
          <mat-option value="30">30 years</mat-option>
          <mat-option value="20">20 years</mat-option>
          <mat-option value="15">15 years</mat-option>
          <mat-option value="10">10 years</mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" id="calculateButton" mat-raised-button color="primary">Calculate</button>
    </div>
</section>
