.container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .left-align {
    text-align: left;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }

  .mat-form-field {
    width: 70%;
  }

  .form-background {
    background-color: gray;
    display: flex; /* This will make the div a flex container */
    flex-direction: column; /* This will stack the children vertically */
    justify-content: center; /* This will center the children vertically */
    align-items: center; /* This will center the children horizontally */
    margin: 0 auto; /* This will give equal space on the right and left */
    border-radius: 15px; /* This will give the div rounded corners */
    max-width: 90%; /* This will make sure the div doesn't take up the full width on mobile screens */
    padding: 20px;
  }
