<section>
  <h2 class="text-3xl font-bold underline">Mortgage Calculator</h2>
  <div  class="form-background">
    <form (ngSubmit)="onSubmit()">
      <label>Home price</label>
      <input [formControl]="principalLoan" placeholder="0">
      
      <label>Interest rate</label>
      <input [formControl]="yearlyInterestRate" placeholder="0">
      
      <label>Loan term</label>
      <select [formControl]="numberOfYearsPayments">
        <option disabled="disabled">Select a loan term</option>
        <option value="30">30 years</option>
        <option value="20">20 years</option>
        <option value="15">15 years</option>
        <option value="10">10 years</option>
      </select>

      <button type="submit">Calculate</button>
    </form>
  </div>
  <p class="result-paragraph"><span >Your monthly costs: {{ monthlyCosts }}</span></p>
</section>
