@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.form-background {
  background-color: gray;
  display: flex; /* This will make the div a flex container */
  flex-direction: column; /* This will stack the children vertically */
  justify-content: center; /* This will center the children vertically */
  align-items: center; /* This will center the children horizontally */
  margin: 0 auto; /* This will give equal space on the right and left */
  border-radius: 15px; /* This will give the div rounded corners */
  max-width: 90%; /* This will make sure the div doesn't take up the full width on mobile screens */
  padding: 20px;
  text-align: center;
}

.mat-form-field {
  width: 80%; /* Adjust this value as needed */
}

.result-paragraph {
  background-color: green;
  text-align: center;
  margin: 0 auto;
  border-radius: 15px;
  max-width: 90%;
}

select > option:first-child {
  text-overflow: ellipsis;
}
