.container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .left-align {
    text-align: left;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }

  .mat-form-field, .mat-raised-button {
    width: 70%;
  }

  .form-background {
    background-color: gray;
  }
